In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=930896a8278489a5b43c6c9a809e8ec035a14f7bcba4a8e074abc22873d409ab
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

Acabo de instalar pyspark, esta es la primera vez que lo uso

# Crear una sesión de SPARK

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

SpSession = SparkSession \
            .builder \
            .appName("Demo Spark") \
            .getOrCreate()

SparkSession nos permite crear o registrar un dataframe como una tabla, ejecutar SQL sobre tablas, tablas cache, y leer archivos.

Trae un atributo de clase llamada builder que es su constructor.

SparkContext permite hacer una conexión a un SparkCluster, que luego se va a utilizar para crear un ERDD

In [ ]:
SpContext = SpSession.sparkContext

# Cargamos los datos

In [ ]:
data = SpSession.read.csv('cars.csv', header=True, sep = ";")
data.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
+--------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

# Saber sobre la información

Para saber la estructura de los datos, te dicen las columnas, sus categorías y el tipo

In [ ]:
data.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

Esto solo te da los nombres de las columnas:

In [ ]:
data.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

# Y ahora vamos a seleccionar columnas:

In [ ]:
#Método 1
#Sin el truncate, cortaría los datos. Con truncate=false, se ve todo el nombre
#completo
data.select(data.Car).show(truncate = False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [ ]:
#Método 2

data.select(data['Car']).show(truncate = False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [ ]:
#Método 3
from pyspark.sql.functions import col
data.select(col('Car')).show(truncate = False)

+--------------------------------+
|Car                             |
+--------------------------------+
|STRING                          |
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
+--------------------------------+
only showing top 20 rows

In [ ]:
#Selección múltiple

data.select(data.Car, data.Cylinders).show(truncate = False)

+--------------------------------+---------+
|Car                             |Cylinders|
+--------------------------------+---------+
|STRING                          |INT      |
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
+--------------------------------+---------+
only showing top 20 rows

# Agregar nuevas columnas

In [ ]:
#Caso 1: agregar una columna
from pyspark.sql.functions import lit

df = data.withColumn('First_Column', lit(1))
df.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|First_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|           1|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|           1|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|           1|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|           1|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|           1|
+--------------------+------+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [ ]:
#Para agregar más columnas
df = data.withColumn ('Second_Column', lit(2)) \
                     .withColumn('Third_Column', lit('ThirdColumn'))
df.show(5)

+--------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|                 Car|   MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|Second_Column|Third_Column|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
|              STRING|DOUBLE|      INT|      DOUBLE|    DOUBLE|DOUBLE|      DOUBLE|  INT|   CAT|            2| ThirdColumn|
|Chevrolet Chevell...|  18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|            2| ThirdColumn|
|   Buick Skylark 320|  15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|            2| ThirdColumn|
|  Plymouth Satellite|  18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|            2| ThirdColumn|
|       AMC Rebel SST|  16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|            2| ThirdColumn|
+--------------------+------+---------+------------+----------+------+------------+-----+------+-------------+------------+
only showing top 5 rows

# Agrupación

In [ ]:
df.groupBy('origin', 'Model').count().show()

+------+-----+-----+
|origin|Model|count|
+------+-----+-----+
| Japan|   76|    4|
|    US|   81|   13|
|    US|   80|    7|
|    US|   76|   22|
| Japan|   70|    2|
|    US|   78|   22|
|Europe|   76|    8|
|    US|   70|   27|
| Japan|   75|    4|
|Europe|   80|    9|
| Japan|   77|    6|
|Europe|   72|    5|
|    US|   75|   20|
|    US|   79|   23|
|    US|   82|   20|
|   CAT|  INT|    1|
|Europe|   75|    6|
| Japan|   78|    8|
|    US|   71|   20|
| Japan|   82|    9|
+------+-----+-----+
only showing top 20 rows

# Eliminar columnas

In [ ]:
df = df.drop('Second_Column', 'Third_Column')
df

DataFrame[Car: string, MPG: string, Cylinders: string, Displacement: string, Horsepower: string, Weight: string, Acceleration: string, Model: string, Origin: string]

# Ordenar filas

In [ ]:
df.orderBy('Cylinders', ascending = False).show(truncate = False)

+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG   |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
|STRING                   |DOUBLE|INT      |DOUBLE      |DOUBLE    |DOUBLE|DOUBLE      |INT  |CAT   |
|Plymouth 'Cuda 340       |14.0  |8        |340.0       |160.0     |3609. |8.0         |70   |US    |
|Chevrolet Chevelle Malibu|18.0  |8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Ford Mustang Boss 302    |0     |8        |302.0       |140.0     |3353. |8.0         |70   |US    |
|Buick Skylark 320        |15.0  |8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Chevrolet Monte Carlo    |15.0  |8        |400.0       |150.0     |3761. |9.5         |70   |US    |
|AMC Rebel SST            |16.0  |8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Buick Estate Wagon (sw)  |14.0  |8        |455.0       |225.0     |3086. |10.0        |70   |US    |
|Ford Galaxie 500         |15.0  |8        |429.0       |198.0     |4341. |10.0        |70   |US    |
|Ford F250                |10.0  |8        |360.0       |215.0     |4615. |14.0        |70   |US    |
|Plymouth Fury iii        |14.0  |8        |440.0       |215.0     |4312. |8.5         |70   |US    |
|Chevy C20                |10.0  |8        |307.0       |200.0     |4376. |15.0        |70   |US    |
|AMC Ambassador DPL       |15.0  |8        |390.0       |190.0     |3850. |8.5         |70   |US    |
|Dodge D200               |11.0  |8        |318.0       |210.0     |4382. |13.5        |70   |US    |
|Ford Torino (sw)         |0     |8        |351.0       |153.0     |4034. |11.0        |70   |US    |
|Hi 1200D                 |9.0   |8        |304.0       |193.0     |4732. |18.5        |70   |US    |
|AMC Rebel SST (sw)       |0     |8        |360.0       |175.0     |3850. |11.0        |70   |US    |
|Chevrolet Impala         |14.0  |8        |350.0       |165.0     |4209. |12.0        |71   |US    |
|Dodge Challenger SE      |15.0  |8        |383.0       |170.0     |3563. |10.0        |70   |US    |
|Pontiac Catalina Brougham|14.0  |8        |400.0       |175.0     |4464. |11.5        |71   |US    |
+-------------------------+------+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [ ]:
#Lo utilizamos con groupby

df.groupBy('Origin').count().orderBy('count', ascending = False).show(10)

+------+-----+
|Origin|count|
+------+-----+
|    US|  254|
| Japan|   79|
|Europe|   73|
|   CAT|    1|
+------+-----+

# Filtrar datos:

In [ ]:
total_count = df.count()
print("Total de registros totales: ", total_count)

europa = df.filter(col('Origin') == 'Europe').count()
print("Total de registros de Europa: ", europa)

df.filter((col('Origin') == 'Europe')& (col('HorsePower') == "115.0")).show(truncate= False)

Total de registros totales:  407
Total de registros de Europa:  73
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                 |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Citroen DS-21 Pallas|0   |4        |133.0       |115.0     |3090. |17.5        |70   |Europe|
|Saab 99LE           |25.0|4        |121.0       |115.0     |2671. |13.5        |75   |Europe|
|Saab 99gle          |21.6|4        |121.0       |115.0     |2795. |15.7        |78   |Europe|
+--------------------+----+---------+------------+----------+------+------------+-----+------+